listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

backend "s3" {
  bucket = "${s3_bucket_name}"
  access_key = "${aws_access_key}"
  secret_key = "${aws_secret_key}"
  region = "ap-southeast-2"
}
